<h1>Portfolio</h1>
<div class="card-container portfolio-page">
    <div class="card">
        <figure class="img-container">
            <img src="./img/portfolio-1.png" alt="Project 1" />
            <figcaption>Abbysal Chamber</figcaption>
        </figure>
    </div>
    <div class="card">
        <figure class="img-container">
            <img src="./img/portfolio-2.png" alt="Project 2" />
            <figcaption>EVVAY</figcaption>
        </figure>
    </div>
    <div class="card">
        <figure class="img-container">
            <img src="./img/portfolio-3.png" alt="Project 3" />
            <figcaption>RHODE'S</figcaption>
        </figure>
    </div>
    <div class="card">
        <figure class="img-container">
            <img src="./img/portfolio-4.png" alt="Project 4" />
            <figcaption>DigiInvest</figcaption>
        </figure>
    </div>
    <div class="card">
        <figure class="img-container">
            <img src="./img/portfolio-5.png" alt="Project 5" />
            <figcaption>Safe Wings Ottawa</figcaption>
        </figure>
    </div>
    <div class="card">
        <figure class="img-container">
            <img src="./img/portfolio-6.png" alt="Project 6" />
            <figcaption>AD ASTRA</figcaption>
        </figure>
    </div>
</div>
